body {
  background-color: black;
  background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 2rem;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;

}

::selection {
  background: #0080FF;
  text-shadow: none;
}

pre {
  margin: 0;
}

.form-control input {
  border: 2px solid black;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
  align-content: center;
}


.button {

  display: inline-block;
  color: black;
  letter-spacing: 2px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;

}


.button:hover {
  color: #111;
  background: lightgreen;
  box-shadow: 0 0 50px green;
  cursor: pointer;

}


.yuu {
  visibility: hidden;

}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }
}


/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: orange 1.4
  }

  50% {
    border-color: orange;
  }
}

.modal,
#myModal,
.terminal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 20%;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {

  margin-top: 50%;
  background-color: black;
  margin: auto;
  padding: 30px;
  border: 1px solid black;
  max-width: 10%;
  border-radius: 8px;
}


.modal-content #password {

  background-color: white;
  max-width: 10em;

}

.modal-content #btnSubmit {

  border-radius: 8px;

}

/* The Close Button
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
} */